@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{ 
        max-width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #cf3216;
        font-family: "Lato", sans-serif;
        /* font-family: "Montserrat", sans-serif; */
}

nav{ 
        width: 100%;
        height: 60px;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        background-color: #ffffff;
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
}

.logo{ 
        width: 15%;
        height: 100%;
        overflow: hidden;       
        display: flex;
        align-items: center;
        justify-content: center;
}

.logo img{ 
        width: 45%;
        

}
.menu{ 
        width: 50%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: right;
}
.menu ul{ 
        margin: 0;
        padding: 0;
        list-style: none;
        margin-right: 35px;
}
.menu ul li{ 
        float: left;
        
}

.menu ul li a{ 
        padding: 15px;
        text-decoration: none;
        color: #1d1716;
        font-size: 18px;
}

.hero-section{ 
        width: 1000px;
        height: 85vh;
        overflow: hidden;
        margin: auto;
        margin-bottom: 40px;
        margin-top: 80px;
        border: 2px solid #393e46;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
}

.image-hero{ 
        width: 200px;
        height: 200px;
        overflow: hidden;
        background-color: pink;
        border-radius: 50%;
}
.image-hero srgbimg {
        width: 100%;
        
 }
 .hero-section h1{ 
        font-family: "Montserrat", sans-serif;
        font-size: 48px;
        color: #091DAF;
        margin: 0;
        margin-top: 20px;
 }
 .hero-section h2{ 
        font-family: "Montserrat"sans-serif;
        font-size: 32px;
        color: #FF2525;
        margin: 0;  
 } 

 .hero-section p{ 
        color: #ffffff;
 }
 
 .top {
        height: auto;
        overflow: auto;
        display: flex;
        gap: 18px;
        
 }

 .top a {
        font-size: 16px;
        color: #ffffff;
        background-color: #091DAF;
        padding: 6px 26px;
        border-radius: 30px;
        text-decoration: none;
 }
 

.btn{ 
        height: auto;
        overflow: hidden;
        display: flex;
        margin-top: 40px;
        gap: 10px;
}
.btn i{ 
        font-size: 24px;
        color: #ffffff;
} 
.about-section{ 
        width: 100%;
        height: auto;
        overflow:hidden ;
        margin: auto;   
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
          
}
.about-section a{ 
        font-family: "Montserrat", sans-serif;
        font-size: 32px;
        color: #ffffff;
        background-color: #091DAF;
        padding: 10px 40px;
        border-radius: 100px;
        text-decoration: none;
}
.about-section p{ 
        font-size: 18px;
        color: #ffffff;
}
.about-container{ 
        width: 1200px;
        height: 500px;
        display: flex;
        gap: 50px;
}
.story-me{ 
        width:  50%;
        height: 332px;
        border: 1px solid #393e46;
        border-radius: 20px;
        padding: 6px 12px;
        margin-top: 60px;
        
}
.story-me h1{ 
        font-size: 32px;
        font-family: "Montserrat", sans-serif;
        color: #091DAF;
}
.smart{ 
        width: 570px;
        height: 80px;
        display: flex ;
        padding: 6px 12px;
        margin-top: 30px;
        border:1px solid #393e46;
        border-radius: 20px;

}
.smart i{ 
        font-size: 50px;
        display: block;
        margin-right: 50px;
        margin-top: 15px;
        color: #ffffff;
}

.smart p{
        margin-top: 30px;
}
.smartmain{
        width: 50%;
        height: auto;
        margin-top: 30px;


}


.study{ 
        width: 1200px;
        height: 1000px;
        overflow: hidden;
        background-color:rgb(218, 46, 74);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
}
.u{ 
        width: 376px;
        height: 186px;
        border: 1px solid #393e46;
        position: absolute;
        top: 150px;
        right: 100px;
        margin: auto;
}
      




