@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{ 
        max-width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color:#1d1716 ;
        font-family: "Lato", sans-serif;
        /* font-family: "Montserrat#", sans-serif; */
}

nav{ 
        width: 100%;
        height: 60px;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        background-color: #ffffff;
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
}

.logo{ 
        width: 15%;
        height: 100%;
        overflow: hidden;       
        display: flex;
        align-items: center;
        justify-content: center;
}

.logo img{ 
        width: 45%;
        

}
.menu{ 
        width: 50%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: right;
}
.menu ul{        
        margin: 0;
        padding: 0;
        list-style: none;
        margin-right: 35px;
}
.menu ul li{ 
        float: left;
        
}

.menu ul li a{ 
        padding: 15px;
        text-decoration: none;
        color: #1d1716;
        font-size: 18px;
}

.hero-section{ 
        width: 1000px;
        height: 85vh;
        overflow: hidden;
        margin: auto;
        margin-bottom: 40px;
        margin-top: 80px;
        border: 2px solid #393e46;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;       
        align-items: center;
        text-align: center;
}

.image-hero{ 
        width: 200px;
        height: 200px;
        overflow: hidden;
        background-color: pink;
        border-radius: 50%;
}
.image-hero img {
        width: 100%;
        
 }
 .hero-section h1{ 
        font-family: "Montserrat", sans-serif;
        font-size: 48px;
        color: #091DAF;
        margin: 0;
        margin-top: 20px;
 }
 .hero-section h2{ 
        font-family: "Montserrat"sans-serif;
        font-size: 32px;
        color: #FF2525;
        margin: 0;  
 } 

 .hero-section p{ 
        color: #ffffff;
 }
 
 .top {
        height: auto;
        overflow: auto;
        display: flex;
        gap: 18px;
        
 }

 .top a {
        font-size: 16px;
        color: #ffffff;
        background-color: #091DAF;
        padding: 6px 26px;
        border-radius: 30px;
        text-decoration: none;
 }

 .top a:hover { 
        color: #393e46;
 }
 

.btn{ 
        height: auto;
        overflow: hidden;
        display: flex;
        margin-top: 40px;
        gap: 10px;
}
.btn i{ 
        font-size: 24px;
        color: #ffffff;
} 
.about-section{ 
        width: 100%;
        height: auto;
        overflow:hidden ;
        margin: auto;   
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
          
}
.about-section a{ 
        font-family: "Montserrat", sans-serif;
        font-size: 32px;
        color: #ffffff;
        background-color: #091DAF;
        padding: 10px 40px;
        border-radius: 100px;
        text-decoration: none;
}

.about-section a:hover { 
        background-color: #393e46;
}
.about-section p{ 
        font-size: 18px;
        color: #ffffff;
}
.about-container{ 
        width: 1200px;
        height: 500px;
        display: flex;
        gap: 50px;
}
.story-me{ 
        width:  50%;
        height: 332px;
        border: 1px solid #393e46;
        border-radius: 20px;
        padding: 6px 12px;
        margin-top: 60px;
        
}
.story-me h1{ 
        font-size: 32px;
        font-family: "Montserrat", sans-serif;
        color: #091DAF;
}
.smart{ 
        width: 570px;
        height: 80px;
        display: flex ;
        padding: 6px 12px;
        margin-top: 30px;
        border:1px solid #393e46;
        border-radius: 20px;

}
.smart i{ 
        font-size: 50px;
        display: block;
        margin-right: 50px;
        margin-top: 15px;
        color: #ffffff;
}

.smart p{
        margin-top: 30px;
}
.smartmain{
        width: 50%;
        height: auto;
        margin-top: 30px;


}


.study{ 
        width: 1200px;
        height: 1000px;
        overflow: hidden;
        display: flex;
        gap: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
}
.u{ 
        width: 390px;
        height: 190px;
        border: 1px solid #393e46;
        border-radius: 20px;
        position: absolute;
        top: 120px;
        right: 100px;
        margin: auto;
}
      
.u h1{
        font-size: 32px;
        font-family: "Montserrat", sans-serif;
        color: #091DAF;
        margin-left: 10px;
}
.u p{ 
        font-size: 18px;
        color: #ffffff;
        margin-left: 10px;
}
.are{  width: 380px;
        height: 200px;
        border: 1px solid #393e46;
        border-radius: 20px;
        position: absolute;
        top: 350px;
        left: 100px;
        margin: auto;
}
.are h1{
        font-family: montserrat, sans-serif;
        color: #091DAF;
        font-size: 32px;
        margin: 10px;
}


.are p{ 
        font-size: 18px;
        color: #ffffff;
        margin-left: 10px;
}

.teacher{ 
         width: 380px;
        height: 210px;
        border: 1px solid #393e46;
        border-radius: 20px;
        position: absolute;
        top: 650px;
        right: 100px;
        margin: auto;
}
.teacher h1{ 
        font-family: montserrat,sans-serif;
        font-size: 32px;
        color: #091DAF;
        margin-left: 10px;

}

.teacher p{ 
        font-size: 18px;
        color: #ffffff;
        margin-left: 10px;
}

.mi{ 
        width: 1200px;
        height: 700px;
        display: block;
        background-color: rgb(223, 109, 128);

}


.sk { 
        width: 100%;
        height: 100px;
        background-color: #FF2525;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

}

.sk h1{ 
         font-family: "Montserrat", sans-serif;
        font-size: 32px;
        color: #ffffff;
        background-color: #091DAF;
        padding: 10px 40px;
        border-radius: 100px;
        text-decoration: none;
        
}

.pho{ 
        width: 100%;
        height: 600px;
        display:flex;
        background-color: darkgoldenrod;
}

.nic{ 
        width: 600px;
        height: 600px;
        background-color: #1900ff;
}

.cold{ 
        width:600px;
        height: 600px;
        background-color: rgb(255, 0, 0);
        display: block;
}
.uu{ 
        width: 100%;
        height: 50%;  
        background-color: #b8b8b8;
}

.meme{ 
        width: 100%;
        height: 50%;
        background-color: #333;
}

.bod{ 
        width: 50%;
        height: 100%;
        background-color: brown;
}

.hi{ 
          width: 300px;
          height: 300px;
          background-color: #f02704;
}